@import "modern-normalize";

:root {
  --primary-color: #f4f4f4; /* Light Gray */
  --secondary-color: #1c1c1c; /* Dark Gray */
  --accent-color: #ff6f61; /* Coral */
  --highlight-color: #ffd700; /* Gold */
  --text-primary: #ffffff; /* White */
  --text-secondary: #333333; /* Dark Gray */
  --background-light: #e8e8e8; /* Very Light Gray */
}

.dropdown {
  background-color: #333333;
  position: relative;
  display: inline-block;
  font-size: 1.25rem;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  background-color: #ffd700;
}
.dropdown:hover .dropdown-content {display: block;}
.dropdown-content a:hover {background-color: #ddd;}
.dropdown-content a {
  color: black;
  padding: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  text-decoration: none;
  display: block;
  background-color: #ff6f61;
}